body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --purple: purple;
  --red: red;
  --green: green;
  --orange: orange;
}

body {
  background: #eee;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.ml-1 {
  margin-left: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-3 {
  margin-bottom: 3em;
}

.relative {
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}
